.grouptog{
    position: fixed;
    top: 20%;
    right: 0;
    background: white;
    background-color: white;    
    width:250px;
    height:50%;
/* display: none; */
    z-index:103;
    transform: translateX(100%);
    transition: transform 0.3s ease-out ;
    /* opacity: 0; */
    overflow: auto;
}

.grouptog.shows{
    transform: translateX(0%);
    /* opacity: 1; */
    /* display: block; */
    width:250px;
}

.gr{
    position: absolute;
    /* opacity:1;  */
    top:37%;
    right:224px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50% 10% 0% 50%;
    border: 3px solid black;
    /* transform: rotate(45deg); */
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    transform: translateX(400%);
    transition: transform 0.3s ease-out ;
    /* overflow: hidden; */
    z-index: 102;
}

.gr.showed{
    transform: translateX(0%);
}

.gr span{
    /* transform: rotate(44deg); */
    background: black;
    /* width: 2 vh; */
    height: 0.7vh;
}

.divs{
    /* overflow: visible; */
}

@media (min-width:600px)
{
    .grouptog{
        display: none;
    }

    .gr{
        display: none;
    }
}