<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mentorship_Forum</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="chat">
            <h2>Chat</h2>
            <div id="chat-window">
                <div id="output"></div>
            </div>
            <input id="handle" type="text" placeholder="Handle" />
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>

    </body>
    <script src = "scripts/chat.js"></script>
</html>