.nav-header {
  background: #3a377e 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  padding: 10px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  // border-right: 1.5px solid black;
  .navigators {
    float: left;
    h3 {
      margin-left: 10px;
      font-size: 25px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 400;
    }
  }
}
#navigate {
  // border: 0.5px solid black;
  border-right: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.content {
  // background-color:#ffffff;
  height: 80px;
  // width:95%;
  border: 0.5px solid #707070;
  border-right: none;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
  }
}

.content:active,
.content:hover {
  background: #3a377e 0% 0% no-repeat padding-box;
}

#navigate::-webkit-scrollbar {
  width: 0 !important;
}
