
.main{
    /* flex:1; */
     display: flex;
    /* flex-direction: row; */ 
    /* columns: 3; */
    /* grid-template-columns: 20% 55% 25%; */
    /* max-width: 960px; */
    /* grid-auto-rows: 100%; */
    /* min-height:89.8vh; */
    /* height: "calc(100%-50px)" ; */
    height:100%;
    flex:1;
    /* background-color:green; */
    text-align: center;
    font-size: 8vh;
}




@media (max-width:917px)
{

    .main{

    }

    .side {
        display: none;
    }

}

@media (max-width:600px)
{
  .group{
      display: none;
  }
}