.message{
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 70%;
  word-wrap: break-word;
  border-radius:5px;
  h3{
    padding:0;
    margin:0;
  }
}
.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.sent:after{
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
.received:after{
  border-width: 0px 10px 10px 0;
    border-color: transparent #DEE2E8 transparent transparent;
    top: 0;
    left: -10px;
}
.received{
  margin-left:10px;
  float:left;
  background: #DEE2E8 0% 0% no-repeat padding-box;
  border-top-left-radius: 0;
}
.sent{
  background-color:#e1ffc7;
  margin-right:30px;
  float:right;
  border-top-right-radius: 0;
}
.metadata{
  // display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
  .time{
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
  }
  .tick{  
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
}
.title{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-left: none;
  border-right:none;
  padding:10px;
  overflow:hidden;
  display:flex;
  align-items: center;
  .avatar{
    border: 1px solid #707070;
    width:60px;
    height:60px;
    background-color:white;
    border-radius:35px;
    float:left;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    h3{
      margin:0;
      padding:0;
    }
  }
  .class_name{
    float:left;
    h3{
      margin-left:10px;
      font-size:25px;
      margin-bottom:0;
      margin-top:0;
      font-weight: 400;
    }
  }
}
.typer{
  display:flex;
  justify-content: center;
  background: #DBDBDB 0% 0% no-repeat padding-box;
  align-items: center;
  position:absolute;
  bottom:0;
  height:50px;
  width:100%;
  margin:0.2%;
  padding:1%;
  .inputDiv{
    width:80%;
    height:90%;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:5px;
    padding-left:30px;
    padding-right:20px;
    border-radius:30px;
    background-color: white;
    overflow: hidden;
    input{
      border:none;
      outline: none;
      width:100%;
      height:100%;
      font-size:20px;
    }
  }
  .send{
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
    .circle{
      background: #008a7c;
      border-radius: 50%;
      color: #fff;
      position: relative;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
#chatterBox{
  width:100%;
  height:100%;
  overflow-y:scroll;
}
#chatterBox::-webkit-scrollbar { width: 0 !important }

.circleSender{
  margin-left:10px;
  width:37px;
  height:37px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
}