header{
    background: black;
    color: white;
    width:100%;
    z-index: 104;
    height:50px;
}

nav{
    display: flex;   
    padding:10px;
    align-items: center;
}

.space{
    flex: 1;
}

.logo{
    
    background: white;
    color:black;
    text-align: center;  
    width:30px;
    margin-top: 4px;    
    margin-left:10px;
    margin-right: 10px;
    border-radius: 40%;
}

.head{
    /* align-items: center; */
    font-size: 20px;
}

.ham{
    /* display: none; */
    margin-top: 1px;
    background: transparent;
    width:25px;
    height:30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
}

.ham span{
    /* display: none;   */
    background-color: white;
    width:100%;
    height:0.3vh;
}

.signin{
    margin-right: 15px;
}

.gr{
    position: fixed;
    top:40%;
    right:-20px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 20% 50% 20% 10%;
    border: 3px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    overflow: hidden;
}

.dragger{
    position: fixed;
    top:-90%;
    left:98%;
    display: flex;
    flex-direction: column;
}

.line{
    width:1px;
    background: white;
    height:500px;
}

.circle{
    background: white;
    width:20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -8px;
}

.gr span{
    /* transform: rotate(44deg); */
    background: black;
    /* width: 2 vh; */
    height: 0.7vh;
}

@media only screen and (max-width: 500px)
{
    .logo{
        /* flex-direction: column;     */
        margin-left:12vh; 
    }

    .signin{
        display: none;
    }

    .space{
    display: none;
    }

    .ham{
        /* display: flex; */
    }
}

@media (min-width:917px)
{
    .ham{
        display: none;
    }
}

@media (min-width:600px)
{
    .gr{
        display: none;
    }
}