.sides{
    background-color: white;
        position: fixed;
        top:6;
        left:0;
    /* padding: 2vh; */
    width:300px;
    height:100%;
    /* display: none; */
    z-index:103;
    transform: translateX(-10%);
    transition: transform 0.3s ease-out ;
    opacity: 0;
}

.sides.show{
    transform: translateX(0%);
    opacity: 1;
    /* display: block; */
    width:300px;
}