.headers{
  background: transparent linear-gradient(0deg, #262a36 0%, #9d9fa7 0%) 0% 0%
    no-repeat padding-box;
  height: 80px;
  border: 0.5px solid #707070;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.heading {
  margin: 0 auto;
}

.details {
  background: #dddde7;
  // margin:10px 0 0 0;
}

.outer {
  display: flex;
  flex-direction: column;
  flex:0.79 1;
  background: #c1c1c5;
  width: 100%;
  position: relative;
}

.headDet {
  padding: 10px;
  font-size: 1.2rem;
  color: #171736;
  font-weight: 500;
  background: #e3e5eb;
}

.det {
  padding: 10px;
  font-size: 1.2rem;
  color: #171736;
  font-weight: 500;
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.dikha{
  position: relative;
}

.details:hover {
  .hover {
    display: flex;
  }
  // background-color: rgba(0,0,0,0.8);
}

@media (max-width:950px){
.outer{
  flex:1;
}
}