.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#custom-button {
  padding: 1vh;
  color: white;
  outline: none;
  background-color: #414195;
  box-shadow: 0 5px #999;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #254b74;
}

#custom-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#custom-button:focus {
  background: #0d1e30;
}
#custom-text {
  align-items: center;
  text-align: justify;
  margin-top: 1.5vh;
  margin-left: 1vh;
  font-family: sans-serif;
  color: rgb(48, 44, 44);
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.logins{
  flex:0.79 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../../images/webDev.png) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width:100vw; */
}

@media (max-width:950px){
  .logins{
    flex:1;
  }
  }
