.header{
    background: #878993 0% 0% no-repeat padding-box;
    padding:10px;
    padding-left:9px;
    height:58px;
    overflow:hidden;
    display:flex;
    align-items: center;
    // border: 1px solid #707070;
    border-bottom:none;
    border-bottom:none;
    .groups{
        float:left;
        h3{
          margin-left:10px;
          font-size:25px;
          margin-bottom:0;
          margin-top:0;
          font-weight: 400;
        }
      }
    }

    #groupOuterBox{
        border: 1px solid #707070;
        border-right:none;
    }

#contactBar{
    border: 1px solid #707070;
    // border-left: none;
    width:100%;
    height:100%;
    overflow-y:scroll;
}

#contactBar::-webkit-scrollbar { width: 0 !important }

#expand{
    // border: 0.5px solid black;
    border: 0.5px solid #707070;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
    // width:100%;
    .a ,.b{
        padding:8px;
        overflow:hidden;
        display:flex;
        width:100%;
        height:64px;
        align-items: center;
        border-top: 1px solid #707070; 
        .avatar{
            width:50px;
            height:50px;
            border-radius:35px;
            border:1px solid #707070; 
            float:left;
            margin-left:10px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
            h3{
                // color: white;
                margin:0;
                padding:0;
            }
        }
    .groups{
        float:left;
        h3{
            color: black;
            margin-left:10px;
            font-size:25px;
            margin-bottom:0;
            margin-top:0;
            font-weight: 400;
        }
    }
}

#expanded{
    margin: 0;
}

// .MuiExpansionPanelSummary-root.Mui-expanded {
//     max-height: 64px;
// }

